// Colors
$white: #ffffff;
$black: #000000;

//fonts

$basic-font-title: "InterMedium", "Arial", sans-serif;
$basic-font-title-semibold: "InterSemiBold", "Arial", sans-serif;
$basic-font-text: "InterRegular", "Arial", sans-serif;
// Viewports

$mobile-width-only: 767px;
$tablet-width: 1180px;
$desktop-width: 1440px;
