// Colors
$white: #ffffff;
$black: #000000;
$black-howl: #1e1d2e;
$gluon-grey: #1b1c1e;
$maui-mist: #eef2f4;
$spacescape: #232056;
$hamiltpn-blue: #8999a5;
$cold-morning: #e5e5e5;
$granitine: #c6c3c3;

$clear-vision: #e7eef6;
$grams-hair: #f5f7f8;
$wash-me: #fafcfd;

$pharaon-purple: #606483;
$linderhof-garden: #2f9626;
$blazing-bonfire: #ffa438;
$cheese-please: #ff9316;

//fonts

$basic-font-title: "InterMedium", "Arial", sans-serif;
$basic-font-title-semibold: "InterSemiBold", "Arial", sans-serif;
$basic-font-text: "InterRegular", "Arial", sans-serif;
// Viewports

$mobile-width-only: 767px;
$tablet-width: 1180px;
$desktop-width: 1440px;
