// Colors
$white: #ffffff;
$maui-mist: #eef2f4;
$clear-vision: #e7eef6;
$grams-hair: #f5f7f8;
$wash-me: #fafcfd;
$cold-morning: #e5e5e5;
$icelandic-winds: #d8deeb;
$granitine: #c6c3c3;
$hamiltpn-blue: #8999a5;
$nocturnal: #767d86;
$pharaon-purple: #606483;
$stay-the-night: #334866;
$black: #000000;
$black-07: rgba(0, 0, 0, 0.7);
$black-howl: #1e1d2e;
$gluon-grey: #1b1c1e;
$gluon-grey-05: rgba(27, 28, 30, 0.5);
$gluon-grey-075: rgba(27, 28, 30, 0.75);
$spacescape: #232056;
$matisse: rgba(54, 94, 125, 0.1);
$calypso-coral: rgba(236, 95, 107, 0.1);
$sanctuary-spa: #5fb6e7;
$fizz: #afddab;
$drop-green: #6bbd64;
$linderhof-garden: #2f9626;
$blazing-bonfire: #ffa438;
$cheese-please: #ff9316;
$red: #ff0000;

//fonts
$basic-font-title: "InterMedium", "Arial", sans-serif;
$basic-font-title-semibold: "InterSemiBold", "Arial", sans-serif;
$basic-font-text: "InterRegular", "Arial", sans-serif;
$basic-font-text-special: "SourceSansProRegular", "Arial", sans-serif;

// Viewports
$mobile-width-only: 699px;
$tablet-width: 700px;
$desktop-width: 1200px;
