.main-resume {
    @media (min-width: $desktop-width) {
        color: $black-howl;
    }
}

.main-resume__position {
    margin: 0;
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
        margin: 0;
    }
}

.main-resume__salary {
    margin: 12px 0 0 0;
    font-family: $basic-font-title-semibold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $gluon-grey;

    @media (min-width: $desktop-width) {
        margin: 0;
        position: absolute;
        top: 123px;
        left: calc(50% + 238px);

        font-family: $basic-font-title;
        font-weight: 500;
        font-size: 28px;
        line-height: 36px;
    }
}

.main-resume__speciality {
    margin: 12px 0 0 0;
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    @media (min-width: $desktop-width) {
        margin: 8px 0 6px 0;

        font-family: $basic-font-title;
        font-weight: 500;
        font-size: 16px;
        line-height: 22px;
    }
}
.main-resume__description-list {
    margin: 6px 0 0 0;
    padding: 0 0 0 27px;
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    @media (min-width: $desktop-width) {
        margin: 0;
        padding: 0 0 0 23px;
        font-size: 14px;
        line-height: 20px;
    }
}
