.main {
    @media (min-width: $tablet-width) {
        width: 700px;
        margin-left: auto;
        margin-right: auto;
    }

    @media (min-width: $desktop-width) {
        width: 1056px;
        margin: 72px auto;
        padding: 42px;
        background-color: $white;
        border-radius: 16px;
        box-shadow: 1px 4px 12px $matisse;
    }
}
