.hero {
    min-height: 48px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    padding-right: 5px;

    background-color: $white;
    z-index: 2;
}

.hero--top {
    position: sticky;
    top: 0;
    background-color: $white;

    margin-top: -48px;
    padding-right: 5px;
    border-bottom: 1px solid $maui-mist;
    z-index: 1;
}

.hero__privious-candidate {
    margin-left: 0;
    margin-right: 0;

    width: 32px;
    height: 32px;
    cursor: pointer;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 16px);

        right: 0px;
        width: 32px;
        height: 32px;

        background-image: url(/img/icons/icon-arrow.svg);
        background-size: 20px 20px;
        background-position: center;
        background-repeat: no-repeat;
    }
}

.hero__candidate-wrapper {
    padding-left: 58px;
    margin-left: 16px;
    margin-right: 10px;
    position: relative;
    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 20px);
        left: 0px;
        width: 40px;
        height: 40px;
        background-color: red;
        border-radius: 50px;
        background: url("./img/candidate-avatar.jpg"); // исправить
        background-size: 40px 40px;
        background-repeat: no-repeat;
        z-index: 10;
    }
}

.hero__candidate-name {
    margin: 0;
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}
.header__candidate-position {
    margin: 0;
    font-size: 13px;
    line-height: 18px;
    color: $spacescape;
}

.hero__button--addnote {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: auto;
    margin-right: 10px;
    background-color: transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0px;
        width: 24px;
        height: 24px;

        background-image: url(/img/icons/icon-note.svg);
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }
}
.hero__button--download-resume {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0;
        width: 24px;
        height: 24px;

        background-image: url(/img/icons/icon-download.svg);
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }
}
.hero__button--print {
    width: 24px;
    height: 24px;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0px;
        right: 0;
        width: 24px;
        height: 24px;

        background-image: url(/img/icons/icon-print.svg);
        background-size: 24px 24px;
        background-repeat: no-repeat;
    }
}

// РЕЗЮМЕ

.resume__candidate {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.resume__candidate-avatar {
    margin-top: 10px;

    width: 100px;
    height: 100px;

    order: 0;
}

.resume__candidate-name {
    margin: 10px 0 0 0;

    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
    color: $black-howl;

    order: 1;
}

.resume__candidate-info {
    margin: 6px 0 0 0;

    font-size: 15px;
    line-height: 20px;
    color: $gluon-grey;

    order: 2;
}

.resume__last-update {
    margin: 6px 0 10px 0;

    font-size: 14px;
    line-height: 20px;
    color: $hamiltpn-blue;

    order: 3;

    & span {
        color: $linderhof-garden;
    }
}
.resume__candidate-options {
    order: 4;
}

// раздел профиля кандидата

.candidate-options {
    min-height: 160px;
    width: 100%;
    padding: 3px 0;

    position: relative;
}

.candidate-options__wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 12px 0 12px 0;
    z-index: -1;
}

.basic-button {
    border: none;
    padding: 10px 0;
    background-color: $blazing-bonfire;
    width: 100%;
    border-radius: 8px;
    cursor: pointer;

    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: $white;

    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: $cheese-please;
    }
}

.candidate-options__button-icon {
    margin-left: 15px;
}

.candidate-options__in-favorites {
    width: 42px;
    height: 42px;
    border: none;
    background-color: transparent;

    cursor: pointer;
    margin-left: 16px;
    margin-right: 0px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        width: 42px;
        height: 42px;

        background-color: $maui-mist;
        border-radius: 50px;
        background-image: url(/img/icons/icon-favorite.svg);
        background-size: 22px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.candidate-options__call {
    width: 42px;
    height: 42px;

    cursor: pointer;
    margin-left: 16px;
    margin-right: 0px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        width: 42px;
        height: 42px;

        background-color: $maui-mist;
        border-radius: 50px;
        background-image: url(/img/icons/icon-call.svg);
        background-size: 30px 34px;
        background-repeat: no-repeat;
        background-position: top center;
    }
}

.video-interview {
    min-height: 55px;
}

.video-interview__wrapper {
    margin-left: 0;
    padding-left: 72px;
    margin-right: auto;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: calc(50% - 21px);
        left: 0;
        width: 47px;
        height: 44px;

        background-image: url(/img/icons/icon-video-interview.svg);
        background-size: 47px 44px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
.video-interview__title {
    margin: 0;
    font-family: $basic-font-title-semibold;
    font-size: 16px;
    line-height: 22px;
    color: $spacescape;
}
.video-interview__desc {
    margin: 0;
    font-size: 12px;
    line-height: 14px;
    color: $pharaon-purple;
}
.video-interview__start-video {
    display: block;
    width: 42px;
    height: 42px;

    cursor: pointer;
    margin-left: 16px;
    margin-right: 0px;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        top: 2px;
        right: 0;
        width: 42px;
        height: 42px;

        background-color: $maui-mist;
        border-radius: 7px;
        background-image: url(/img/icons/icon-arrow.svg);
        background-size: 12px 12px;
        background-repeat: no-repeat;
        background-position: center;
        transform: rotate(180deg);
    }
}

// основной раздел резюме

.main-resume__position {
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 22px;
    line-height: 24px;
}

.main-resume__salary {
    font-family: $basic-font-title-semibold;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: $gluon-grey;
}
.main-resume__speciality {
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
}
.main-resume__description-list {
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.work-conditions__title {
    margin: 0;
    margin-top: 16px;

    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 16px;
    color: $pharaon-purple;
}
.work-conditions__desc {
    margin: 0;
}

.resume__section-title {
    margin: 20px 0px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 22px;

    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;

    background-color: $wash-me;

    position: relative;

    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        right: 0;
        height: 1px;
        width: calc(100% - 10px);
        border-bottom: 1px solid $icelandic-winds;
    }
}

.last-job {
    padding: 8px 8px;
}

.last-job__period {
    margin: 0;
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;

    display: flex;
    justify-content: space-between;
}
.duration {
    color: $pharaon-purple;
}

.last-job__title {
    margin: 0;
    margin-top: 16px;
    font-family: $basic-font-text;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
}
.last-job__info {
    margin: 0;
    color: $pharaon-purple;
}
.last-job__position {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 16px;

    font-size: 18px;
    line-height: 22px;
}

.last-job__duties-title {
    margin: 0;

    font-size: 18px;
    font-weight: 500;
}

.last-job__duties {
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: $pharaon-purple;
}

.button-hider {
    border: 0;
    cursor: pointer;
    color: $sanctuary-spa;
    background-color: transparent;

    font-family: $basic-font-text;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    width: 100%;
    text-align: left;
}

.last-job__achievements-title {
    margin: 0;
    margin-top: 16px;
    margin-bottom: 10px;

    font-size: 16px;
    line-height: 22px;
    color: $gluon-grey;
}
.last-job__achievements {
    margin: 0;

    margin-bottom: 10px;
    color: $gluon-grey;
}

// СЛАЙДЕР

.portfolio {
}
.resume__slider {
}

// ИСТОРИЯ ОТКЛИКОВ

.response-history {
    margin-top: 16px;
    margin-bottom: 16px;
}
.container {
}
.response-history__title {
    margin: 0;
    padding: 15px 0;
    text-transform: uppercase;
    font-family: $basic-font-text-special;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: $nocturnal;

    border-bottom: 1px solid $clear-vision;
}
.response-history__wrapper {
}
.response-history__list {
    margin: 0;
    padding: 0;
    list-style: none;
}
.response-history__item {
}
.response {
}
.response__link {
    cursor: pointer;

    text-decoration: none;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.response__date {
    margin: 0;

    display: flex;
    flex-direction: column;
    align-items: center;

    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;

    color: $gluon-grey;
}

.response__type {
    margin: 0;
    padding: 15px 0 15px 20px;

    display: flex;
    flex-direction: column;

    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 13px;
    line-height: 14px;

    color: $nocturnal;
}
.response__candidate-position {
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 17px;
    line-height: 20px;
    color: $gluon-grey;
}

// Всплывающие окна

.overlay {
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;

    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;

    &--active {
        visibility: visible;
        opacity: 1;
    }
}

.popup-addnote {
    position: fixed;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    padding-top: 25px;
    margin-left: auto;
    margin-right: auto;
    top: 150px;
    left: 15px;
    width: calc(100% - 24px * 2 - 15px * 2);
    padding: 24px;
    display: flex;
    flex-direction: column;
    background-color: $white;

    &::before {
        content: "";
        position: absolute;
        top: -20px;
        right: calc(50% - 18px);
        width: 36px;
        height: 5px;

        background-color: $white;
        border-radius: 3px;
    }

    visibility: hidden;
    opacity: 0;

    &--active {
        visibility: visible;
        opacity: 1;
    }
}
.popup-addnote__title {
    margin: 0;
    padding-bottom: 20px;
    border-bottom: 1px solid $clear-vision;
    font-family: $basic-font-title;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.popup-addnote__input {
    padding-top: 16px;
    border: none;
    height: 122px;
    resize: none;

    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
}
.popup-addnote__controls {
    margin-top: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
}

.popup-addnote__button--cancel {
    color: $pharaon-purple;
    background-color: $cold-morning;

    &:hover {
        background-color: $granitine;
    }
}

// опции кандидата

.options {
    position: absolute;

    margin-left: auto;
    margin-right: auto;

    top: 0;
    left: 0;

    width: 100%;

    visibility: hidden;
    opacity: 0;

    &--active {
        visibility: visible;
        opacity: 1;
    }
}
.options__list {
    background-color: $white;
    border-radius: 16px;
    border: 1px solid $cold-morning;
    box-shadow: 1px 4px 40px $matisse;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    padding-right: 20px;

    list-style: none;
    display: flex;
    flex-direction: column;
}

.options__item {
    background-color: $white;
    border-bottom: 1px solid $maui-mist;
}

.options__link {
    display: flex;
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;

    text-decoration: none;
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 17px;
    line-height: 24px;
    color: $black-howl;
}

.options__icon {
    margin-right: 12px;
}

.options__button {
    border: 1px solid $cold-morning;
    box-shadow: 1px 4px 40px $matisse;

    margin-top: 10px;
    color: $stay-the-night;
    background-color: $white;
    border-radius: 16px;
    &:hover {
        background-color: $cold-morning;
    }
}
