.portfolio {
    height: 200px;
}

.showcase-carousel {
    overflow: hidden;
}
.swiper-wrapper {
    overflow: hidden;
}
.swiper-slide {
}

.showcase-carousel__item {
    width: 148px;
    height: 148px;
    // position: relative;
}

.showcase-carousel__image {
    // position: absolute;
    width: 148px;
    height: 148px;
}
