.carousel {
    position: relative;
    width: 100%;
    padding: 0;

    @media (min-width: $tablet-width) {
        width: 670px;
    }

    @media (min-width: $desktop-width) {
        width: 710px;
    }
}

.gallery__image {
    width: 147px;
    height: 147px;
    display: block;
}

.carousel__control {
    position: absolute;
    top: 60px;
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background-color: $gluon-grey-05;
    background-image: url(../img/icons/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border-radius: 50px;

    display: block;
    z-index: 5;

    &--prev {
        left: 7px;
    }

    &--next {
        transform: rotate(180deg);
        right: 7px;

        @media (min-width: $desktop-width) {
            right: -25px;
        }
    }
}

.carousel__control:focus {
    outline: none;
}

.carousel__control:hover {
    cursor: pointer;
}

.gallery {
    overflow: hidden;
}

.gallery__list {
    height: 147px;
    width: 9999px;
    margin: 0;
    padding: 0;
    list-style: none;
    transition: margin-left 250ms;
    font-size: 0;
}

.gallery__item {
    margin-right: 10px;
    display: inline-block;

    &:last-child {
        margin-right: 0;
    }
}

.gallery__image {
    width: 147px;
    height: 147px;
    object-fit: fill;
}

// Окно изображения

.portfolio__popup {
    color: $white;
}

.picture-popup__nav {
    display: flex;
    align-items: center;
}

.picture-popup__wrapper {
    width: 375px;
    height: 667px;
    background-color: $gluon-grey-075;

    display: flex;
    flex-direction: column;
    position: relative;
}
.picture-popup__button-close {
    align-items: center;
    margin-top: 3px;
    margin-left: 10px;
    margin-bottom: 3px;
    width: 40px;
    height: 40px;
    padding: 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    position: relative;

    background-image: url(../img/icons/icon-close.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position: center;
}

.picture-popup__counter {
    margin: 0;
    margin-left: 119px;
    margin-right: auto;
    font-family: $basic-font-title-semibold;
    font-size: 18px;
    line-height: 22px;
}
.picture-popup__image-wrapper {
    width: 100%;
    height: 549px;
    object-fit: contain;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.picture-popup__image {
    width: inherit;
}

.picture-popup__info {
    margin: 0;
    padding: 10px;
}
.picture-popup__price {
    margin: 0;
    font-family: $basic-font-title;
    font-size: 24px;
    line-height: 32px;
}
.picture-popup__title {
    margin: 0;
    font-family: $basic-font-text;
    font-size: 16px;
    line-height: 20px;
}
.picture-popup__desc {
    display: none;
    margin: 0;
    font-family: $basic-font-text;
    font-size: 12px;
    line-height: 18px;
}

.picture-popup__control {
    cursor: pointer;
    position: absolute;
    top: 60px;
    padding: 0;
    border: none;
    width: 32px;
    height: 32px;
    background-color: $gluon-grey-05;
    background-image: url(../img/icons/icon-arrow.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 13px 13px;
    border-radius: 50px;

    display: block;
    z-index: 5;

    &--prev {
        left: 7px;
    }

    &--next {
        transform: rotate(180deg);
        right: 7px;

        @media (min-width: $desktop-width) {
            // right: -25px;
        }
    }
}
