.socials {
    display: none;
    @media (min-width: $desktop-width) {
        display: block;

        position: absolute;
        top: 622px;
        left: calc(50% + 240px);
    }
}
.social__list {
    width: 260px;
    margin: 0;
    padding: 0;
    list-style: none;

    @media (min-width: $desktop-width) {
        padding: 0 15px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.social__item {
}

.social__link {
    width: 30px;
    height: 30px;
    display: block;
}

.social__link {
    &:hover {
        & .social__icon g {
            opacity: 1;
        }
    }
}
