.work-conditions {
    list-style: none;
}

.work-conditions__item {
    margin-top: 16px;
    @media (min-width: $desktop-width) {
        margin-top: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
    }
}

.work-conditions__title {
    margin: 0;
    font-family: $basic-font-text;
    font-weight: 400;
    font-size: 16px;
    color: $pharaon-purple;

    @media (min-width: $desktop-width) {
        margin: 0 6px 0 0;
        min-width: 170px;
        font-size: 14px;
        line-height: 20px;
    }
}

.work-conditions__desc {
    margin: 4px 0 0 0;

    @media (min-width: $desktop-width) {
        margin: 0 0 0 0;
        font-size: 14px;
        line-height: 20px;
    }
}
